@font-face {
    font-family: Geometria;
    src: url("assets/fonts/Geometria.ttf");
}

body {
    margin: 0;
    font-family: Geometria, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    min-width: 400px;
}
