.table {
    width: 100%;
}

.table thead tr {
    height: 45px;
}

.table tbody {
    border-radius: 6px;
    box-shadow: 0 7px 60px rgba(0, 0, 0, 0.07);
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}

.table tbody tr:first-child td {
    border-top: 25px solid white;
}

.table tbody tr:last-child td {
    border-bottom: 25px solid white;
}
